body{
  font-family:'Montserrat';
  color: #8E807C;
  width: 40%;
  height: 90%;
  margin : 5% auto;
  background-color: #EAEAEA;
}

p{
  line-height: 175%;
}

.profile p{
  font-size: 100%;
}

.profile a{
  background-color: #DB4856;
  border-radius: 7px;
  color: white;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 125%;
}

.button_wrapper{
  text-align: center;
  padding-bottom: 0;
}

div{
  background-color: white;
  margin-bottom: 25px;
  padding: 20px;
}

h1{
  color: #DB4856;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

.profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 5px solid #D0D0D0;
  border-radius: 50%;
}

.social_media ul{
  text-align: center;
  list-style-type: none;
}

.social_media li{
  margin-right: 15px;
}

.social_media a{
  display: inline-block;
  color: #CBCBCB;
  text-decoration: none;
  margin-right: 10%;
}

.fa{
  font-size: 50px;
}

.movies_articles{
  clear: left;
}

.movies_articles img{
  float: left;
  width: 25%;
  height: 25%;
}

.movies_articles_description{
  margin: auto;
  margin-left: 25%;
}
