html{
  background: url(https://i.pinimg.com/originals/28/aa/fa/28aafa86bad3993068aaa1b176a5b6ae.jpg) no-repeat center center fixed;
  background-size: cover;
}

header{
  width : 940px;
  height: 85px;
  position: relative;
  margin: 0 auto;
  padding: 35px 0px;
}

#header_donate {
  width: 158px;
  height: 47px;
  text-align: center;
  background : linear-gradient(to top, rgb(188,64,41), rgb(251, 91, 61));
  border-radius: 3px;
  position: absolute;
  left: 760px;
  color: white;
  font-family: 'Comic Sans MS', cursive;
  font-size: 25px;
}

.nav_body nav{
  width : 940px;
  height: 50px;
  margin : auto;
  background-color: #143d8d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav_body ul li{
  display:inline-block;
  padding:5px;
  text-align: center;
  font-size: 22px;
  color: white;
  font-family: 'Comic Sans MS', cursive;

}
